$spacings: (
    spacing-0: 0,
    spacing-1: 4px,
    spacing-2: 8px,
    spacing-3: 16px,
    spacing-4: 24px,
    spacing-5: 28px,
    spacing-6: 30px,
    spacing-7: 40px,
    spacing-8: 48px,
    spacing-9: 56px,
    spacing-10: 88px,
    spacing-11: 96px,
    spacing-12: 120px,
) !default;
